{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!
{% endblock %}

{% block body %}
	<pre>
    {{ dump(categories) }}
</pre>

	<table>
		{% for category in categories %}
			<tr>
				<td>{{category.nom}}</td>
				<td>{{category.description }}</td>
				<td>{{category.createAt | date("d/m/Y")}}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}