{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!
{% endblock %}

{% block body %}
	<h2>Update</h2>

	{{ form_start(formCategory)}}
	{{ form_rest(formCategory)}}
	<input type="submit" value="Mettre à jour">
	{{form_end(formCategory)}}


{% endblock %}
