{% extends "base.html.twig" %}

{% block body %}
<h1>Accueil Candy Shop Admin</h1>

<table class='table table-striped'>
		{% for bonbon in bonbons %}
			<tr>
				<td>{{bonbon.name}}</td>
				<td>{{bonbon.description }}</td>
				<td>{{bonbon.createAt | date("d/m/Y")}}</td>
				<td><a href="{{path('admin_article_update',{id:bonbon.id})}}" class='btn btn-primary'>Mofidier</a></td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}